.container {
  position: absolute;
  text-align: center;
  color: white;
  display: contents;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}

.optBtn {
  width: 60vw;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: monospace;
  display: block;
  margin: 0 auto;
  max-width: 700px;
}

.optBtn:hover {
  border-color:greenyellow;
}

p {
  font-size: xxx-large;
  word-spacing: 10px;
  font-family: monospace;
}

.hideElement {
  visibility: hidden;
}